[package]
name = "spectre-wrpc-simple-client-example"
description = "Spectre wRPC simple client example"
publish = false
rust-version.workspace = true
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
futures.workspace = true
spectre-rpc-core.workspace = true
spectre-wrpc-client.workspace = true
tokio.workspace = true

[lints]
workspace = true